General to-do:
- Figure out what years to restrict data
- Look into mixed data type columns in birding data
- Look into “sensitive species” list
- Sift through tables of interest for FIA
- Figure out how to read in specific tabs in the xlsx files for FIA
- Clean tables to drop extraneous columns
- EDA on data once cleaned
- Consider geospatial uses of data
- Value counts on bird species to get top 10 or so to track over years
- Merge birds table with USFWS table to get specific region & download doc off data.gov website

In [3]:
import pandas as pd

In [5]:
# 2010 to 2014
birds_2010_2014 = pd.read_csv('../data/eBird_2010_to_2014_TN/eBird_2010_to_2014_TN.txt', sep='\t')

C:\Users\danil\AppData\Local\Temp\ipykernel_32256\1194818085.py:2: DtypeWarning: Columns (11,12,13,23) have mixed types. Specify dtype option on import or set low_memory=False.
  birds_2010_2014 = pd.read_csv('../data/eBird_2010_to_2014_TN/eBird_2010_to_2014_TN.txt', sep='\t')

In [16]:
birds_2010_2014.columns

Index(['GLOBAL UNIQUE IDENTIFIER', 'LAST EDITED DATE', 'TAXONOMIC ORDER',
       'CATEGORY', 'TAXON CONCEPT ID', 'COMMON NAME', 'SCIENTIFIC NAME',
       'SUBSPECIES COMMON NAME', 'SUBSPECIES SCIENTIFIC NAME', 'EXOTIC CODE',
       'OBSERVATION COUNT', 'BREEDING CODE', 'BREEDING CATEGORY',
       'BEHAVIOR CODE', 'AGE/SEX', 'COUNTRY', 'COUNTRY CODE', 'STATE',
       'STATE CODE', 'COUNTY', 'COUNTY CODE', 'IBA CODE', 'BCR CODE',
       'USFWS CODE', 'ATLAS BLOCK', 'LOCALITY', 'LOCALITY ID', 'LOCALITY TYPE',
       'LATITUDE', 'LONGITUDE', 'OBSERVATION DATE',
       'TIME OBSERVATIONS STARTED', 'OBSERVER ID', 'SAMPLING EVENT IDENTIFIER',
       'PROTOCOL TYPE', 'PROTOCOL CODE', 'PROJECT CODE', 'DURATION MINUTES',
       'EFFORT DISTANCE KM', 'EFFORT AREA HA', 'NUMBER OBSERVERS',
       'ALL SPECIES REPORTED', 'GROUP IDENTIFIER', 'HAS MEDIA', 'APPROVED',
       'REVIEWED', 'REASON', 'TRIP COMMENTS', 'SPECIES COMMENTS',
       'Unnamed: 49'],
      dtype='object')

In [15]:
short_birds = birds_2010_2014[['GLOBAL UNIQUE IDENTIFIER', 'OBSERVATION DATE', 'TAXONOMIC ORDER', 'CATEGORY', 'COMMON NAME', 'SCIENTIFIC NAME', 'AGE/SEX', 'OBSERVATION COUNT', 'COUNTRY', 'STATE', 'COUNTY', 'IBA CODE', 'BCR CODE', 'USFWS CODE', 'LATITUDE', 'LONGITUDE', 'OBSERVER ID', 'TRIP COMMENTS']]
short_birds.columns = ['global_unique_identifier', 'observation_date', 'tax_order', 'category', 'common_name', 'scientific_name', 'age_sex', 'observation_count', 'country', 'state', 'county', 'iba_code', 'bcr_code', 'usfws_code', 'lat', 'long', 'observer_id', 'trip_comments']
short_birds.head()

,global_unique_identifier,observation_date,tax_order,category,common_name,scientific_name,age_sex,observation_count,country,state,county,iba_code,bcr_code,usfws_code,lat,long,observer_id,trip_comments
0,URN:CornellLabOfOrnithology:EBIRD:OBS81849899,2010-01-19,21054,species,American Crow,Corvus brachyrhynchos,NaN,1,United States,Tennessee,Anderson,NaN,28,NaN,35.958338,-84.246758,obsr18758,beautiful warm sunny day
1,URN:CornellLabOfOrnithology:EBIRD:OBS82004086,2010-01-22,21054,species,American Crow,Corvus brachyrhynchos,NaN,5,United States,Tennessee,Anderson,NaN,28,NaN,36.217869,-84.086437,obsr18758,"Chilly, overcast, mist. After not seeing a wi..."
2,URN:CornellLabOfOrnithology:EBIRD:OBS80663800,2010-01-02,21054,species,American Crow,Corvus brachyrhynchos,NaN,10,United States,Tennessee,Anderson,NaN,28,NaN,35.996341,-84.163513,obsr54372,All within Haw Ridge Park and within Knoxville...
3,URN:CornellLabOfOrnithology:EBIRD:OBS82003744,2010-01-22,21054,species,American Crow,Corvus brachyrhynchos,NaN,3,United States,Tennessee,Anderson,NaN,28,NaN,36.116386,-84.110001,obsr18758,NaN
4,URN:CornellLabOfOrnithology:EBIRD:OBS287169932,2010-01-15,21054,species,American Crow,Corvus brachyrhynchos,NaN,5,United States,Tennessee,Anderson,NaN,28,NaN,36.007052,-84.262025,obsr276568,NaN

In [ ]:
## here:
## make separate year column (and maybe month as well) for observation date

In [9]:
birds_2010_2014['COMMON NAME'].value_counts().head(10)

Northern Cardinal         48842
American Crow             41626
Carolina Chickadee        40837
Blue Jay                  39305
Carolina Wren             39079
Mourning Dove             36616
Tufted Titmouse           36309
American Robin            35295
Northern Mockingbird      31399
Red-bellied Woodpecker    30536
Name: COMMON NAME, dtype: int64

In [12]:
birds_2010_2014.groupby(['OBSERVATION DATE', 'COMMON NAME']).count()[['OBSERVATION COUNT']]

                                           OBSERVATION COUNT
OBSERVATION DATE COMMON NAME
2010-01-01       American Black Duck                       1
                 American Coot                             8
                 American Crow                            20
                 American Goldfinch                       16
                 American Kestrel                          5
...                                                      ...
2014-12-31       Wild Turkey                               2
                 Wilson's Snipe                            1
                 Winter Wren                               1
                 Yellow-bellied Sapsucker                 14
                 Yellow-rumped Warbler                    16

[186797 rows x 1 columns]

In [5]:
# TN 2016 - figure out how to read in specific tabs:

# create a dicitonary (with sheet_name =['<sheet1>', '<sheet2>', '<sheet3>'])
# use .get('<sheetname>') to parse into separate dfs

dict_trees2016 = pd.read_excel('../data/TN_2016.xlsx',
             sheet_name = ['Tab 2'])

In [27]:
# cleaning table 2 - land by ownership class
land_by_ownership_class = dict_trees2016.get('Tab 2')
land_by_ownership_class.columns = ['class_type', 'all_forest_land', 'total_unreserved', 'timberland', 'unproductive', 'total_reserved', 'productive', 'unproductive_reserved']
land_by_ownership_class = land_by_ownership_class.head(28)
land_by_ownership_class = land_by_ownership_class.tail(25)
land_by_ownership_class = land_by_ownership_class.set_index('class_type')

In [28]:
# in thousand acres
land_by_ownership_class

,all_forest_land,total_unreserved,timberland,unproductive,total_reserved,productive,unproductive_reserved
class_type,,,,,,,
U.S. Forest Service,NaN,NaN,NaN,NaN,NaN,NaN,NaN
National forest,654.7,589.8,585.8,4,64.9,62.3,2.6
Other Forest Service,58.1,58.1,58.1,0,0,0,0
Total,712.8,647.9,643.9,4,64.9,62.3,2.6
Other Federal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
National Park Service,335.4,0,0,0,335.4,335.4,0
U.S. Fish and Wildlife Service,30.8,0,0,0,30.8,30.8,0
Dept. of Defense/Dept. of Energy,164.3,162.8,162.8,0,1.5,1.5,0
Other Federal,141,135,135,0,6.1,6.1,0
Total,671.6,297.8,297.8,0,373.8,373.8,0
State and local government,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State,820.8,699.2,699.2,0,121.6,121.6,0
Local,114.5,114.5,114.5,0,0,0,0
Total,935.3,813.7,813.7,0,121.6,121.6,0
Forest industry,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Corporate,96.9,96.9,96.9,0,0,0,0
Individual,23.5,23.5,23.5,0,0,0,0
Total,120.4,120.4,120.4,0,0,0,0
Nonindustrial private,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Corporate,2262.8,2262.8,2255.8,7,0,0,0
Conservation/natural resources organization,12.1,12.1,12.1,0,0,0,0
Unincorporated local partnership/association/club,60.3,60.3,60.3,0,0,0,0
Individual,9144.1,9144.1,9136.6,7.6,0,0,0
Total,11479.4,11479.4,11464.8,14.6,0,0,0
All classes,13919.5,13359.2,13340.7,18.5,560.3,557.7,2.6