TO DO:

- compile growth table
- compile removals table
- add % columns in each table

COMPLETED:
- compile ownership class table
- compile disturbed table
- compile volume table

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# creating dictionaries for all years

# create a dicitonary (with sheet_name =['<sheet1>', '<sheet2>', '<sheet3>'])
# use .get('<sheetname>') to parse into separate dfs

dict_trees2016 = pd.read_excel('../data/TN_2016.xlsx',
                               sheet_name = ['Tab 2', 'Tab 8', 'Tab 12', 'Tab 24', 'Tab 32'])
dict_trees2015 = pd.read_excel('../data/TN_2015.xls',
                               sheet_name = ['Tab 2', 'Tab 8', 'Tab 12', 'Tab 24', 'Tab 32'])
dict_trees2014 = pd.read_excel('../data/TN_2014.xls',
                               sheet_name = ['Tab 2', 'Tab 8', 'Tab 12', 'Tab 24', 'Tab 32'])
dict_trees2013 = pd.read_excel('../data/TN_2013.xls',
                               sheet_name = ['Tab 2', 'Tab 8', 'Tab 12', 'Tab 24', 'Tab 32'])
dict_trees2012 = pd.read_excel('../data/TN_2012.xls',
                               sheet_name = ['Tab 2', 'Tab 8', 'Tab 12', 'Tab 24', 'Tab 32'])
dict_trees2011 = pd.read_excel('../data/TN_2011.xls',
                               sheet_name = ['Tab 2', 'Tab 8', 'Tab 12', 'Tab 24', 'Tab 32'])
dict_trees2010 = pd.read_excel('../data/TN_2010.xls',
                               sheet_name = ['Tab 2', 'Tab 8', 'Tab 12', 'Tab 24', 'Tab 32'])
dict_trees2009 = pd.read_excel('../data/TN_2009.xls',
                               sheet_name = ['Tab 2', 'Tab 8', 'Tab 12', 'Tab 24', 'Tab 32'])
dict_trees2008 = pd.read_excel('../data/TN_2008.xls',
                               sheet_name = ['Tab 2', 'Tab 8', 'Tab 12', 'Tab 24', 'Tab 32'])
dict_trees2007 = pd.read_excel('../data/TN_2007.xls',
                               sheet_name = ['Tab 2', 'Tab 8', 'Tab 12', 'Tab 24', 'Tab 32'])

In [3]:
## Table 2
## Land by Ownership Class, in thousand acres

# 2016
ownership_class_2016 = dict_trees2016.get('Tab 2')
ownership_class_2016.columns = ['class_type', 'all_forest_land', 'total_unreserved', 'timberland', 'unproductive', 'total_reserved', 'productive', 'unproductive_reserved']
ownership_class_2016 = ownership_class_2016.head(28)
ownership_class_2016 = ownership_class_2016.tail(25)
ownership_class_2016 = ownership_class_2016.reset_index(drop=True)
ownership_class_2016 = ownership_class_2016[['class_type', 'all_forest_land']]

ownership_class_2016.at[3, 'class_type']='us_forest_service'
ownership_class_2016.at[9, 'class_type']='other_federal'
ownership_class_2016.at[13, 'class_type']='state_and_local_gov'
ownership_class_2016.at[17, 'class_type']='forest_industry'
ownership_class_2016.at[23, 'class_type']='nonindustrial_private'
ownership_class_2016.at[24, 'class_type']='total_land'
ownership_class_2016 = ownership_class_2016.set_index('class_type')
ownership_class_2016 = ownership_class_2016.transpose()[['us_forest_service', 'other_federal', 'state_and_local_gov', 'forest_industry', 'nonindustrial_private', 'total_land']].reset_index(drop=True)
ownership_class_2016['year'] = '2016'

#######

# 2015
ownership_class_2015 = dict_trees2015.get('Tab 2')
ownership_class_2015.columns = ['class_type', 'all_forest_land', 'total_unreserved', 'timberland', 'unproductive', 'total_reserved', 'productive', 'unproductive_reserved']
ownership_class_2015 = ownership_class_2015.head(21)
ownership_class_2015 = ownership_class_2015.tail(18)
ownership_class_2015 = ownership_class_2015.reset_index(drop=True)
ownership_class_2015 = ownership_class_2015[['class_type', 'all_forest_land']]

ownership_class_2015.at[3, 'class_type']='us_forest_service'
ownership_class_2015.at[9, 'class_type']='other_federal'
ownership_class_2015.at[13, 'class_type']='state_and_local_gov'
ownership_class_2015.at[16, 'class_type']='nonindustrial_private'
ownership_class_2015.at[17, 'class_type']='total_land'
ownership_class_2015 = ownership_class_2015.set_index('class_type')
ownership_class_2015 = ownership_class_2015.transpose()[['us_forest_service', 'other_federal', 'state_and_local_gov', 'nonindustrial_private', 'total_land']].reset_index(drop=True)
ownership_class_2015['year'] = '2015'

######

# 2014
ownership_class_2014 = dict_trees2014.get('Tab 2')
ownership_class_2014.columns = ['class_type', 'all_forest_land', 'total_unreserved', 'timberland', 'unproductive', 'total_reserved', 'productive', 'unproductive_reserved']
ownership_class_2014 = ownership_class_2014.head(21)
ownership_class_2014 = ownership_class_2014.tail(18)
ownership_class_2014 = ownership_class_2014.reset_index(drop=True)
ownership_class_2014 = ownership_class_2014[['class_type', 'all_forest_land']]

ownership_class_2014.at[3, 'class_type']='us_forest_service'
ownership_class_2014.at[9, 'class_type']='other_federal'
ownership_class_2014.at[13, 'class_type']='state_and_local_gov'
ownership_class_2014.at[16, 'class_type']='nonindustrial_private'
ownership_class_2014.at[17, 'class_type']='total_land'
ownership_class_2014 = ownership_class_2014.set_index('class_type')
ownership_class_2014 = ownership_class_2014.transpose()[['us_forest_service', 'other_federal', 'state_and_local_gov', 'nonindustrial_private', 'total_land']].reset_index(drop=True)
ownership_class_2014['year'] = '2014'

######

# 2013
ownership_class_2013 = dict_trees2013.get('Tab 2')
ownership_class_2013.columns = ['class_type', 'all_forest_land', 'total_unreserved', 'timberland', 'unproductive', 'total_reserved', 'productive', 'unproductive_reserved']
ownership_class_2013 = ownership_class_2013.head(21)
ownership_class_2013 = ownership_class_2013.tail(18)
ownership_class_2013 = ownership_class_2013.reset_index(drop=True)
ownership_class_2013 = ownership_class_2013[['class_type', 'all_forest_land']]

ownership_class_2013.at[3, 'class_type']='us_forest_service'
ownership_class_2013.at[9, 'class_type']='other_federal'
ownership_class_2013.at[13, 'class_type']='state_and_local_gov'
ownership_class_2013.at[16, 'class_type']='nonindustrial_private'
ownership_class_2013.at[17, 'class_type']='total_land'
ownership_class_2013 = ownership_class_2013.set_index('class_type')
ownership_class_2013 = ownership_class_2013.transpose()[['us_forest_service', 'other_federal', 'state_and_local_gov', 'nonindustrial_private', 'total_land']].reset_index(drop=True)
ownership_class_2013['year'] = '2013'

######

#2012
ownership_class_2012 = dict_trees2012.get('Tab 2')
ownership_class_2012.columns = ['class_type', 'all_forest_land', 'total_unreserved', 'timberland', 'unproductive', 'total_reserved', 'productive', 'unproductive_reserved']
ownership_class_2012 = ownership_class_2012.head(21)
ownership_class_2012 = ownership_class_2012.tail(18)
ownership_class_2012 = ownership_class_2012.reset_index(drop=True)
ownership_class_2012 = ownership_class_2012[['class_type', 'all_forest_land']]

ownership_class_2012.at[3, 'class_type']='us_forest_service'
ownership_class_2012.at[9, 'class_type']='other_federal'
ownership_class_2012.at[13, 'class_type']='state_and_local_gov'
ownership_class_2012.at[16, 'class_type']='nonindustrial_private'
ownership_class_2012.at[17, 'class_type']='total_land'
ownership_class_2012 = ownership_class_2012.set_index('class_type')
ownership_class_2012 = ownership_class_2012.transpose()[['us_forest_service', 'other_federal', 'state_and_local_gov', 'nonindustrial_private', 'total_land']].reset_index(drop=True)
ownership_class_2012['year'] = '2012'

######

# 2011
ownership_class_2011 = dict_trees2011.get('Tab 2')
ownership_class_2011.columns = ['class_type', 'all_forest_land', 'total_unreserved', 'timberland', 'unproductive', 'total_reserved', 'productive', 'unproductive_reserved']
ownership_class_2011 = ownership_class_2011.head(21)
ownership_class_2011 = ownership_class_2011.tail(18)
ownership_class_2011 = ownership_class_2011.reset_index(drop=True)
ownership_class_2011 = ownership_class_2011[['class_type', 'all_forest_land']]

ownership_class_2011.at[3, 'class_type']='us_forest_service'
ownership_class_2011.at[9, 'class_type']='other_federal'
ownership_class_2011.at[13, 'class_type']='state_and_local_gov'
ownership_class_2011.at[16, 'class_type']='nonindustrial_private'
ownership_class_2011.at[17, 'class_type']='total_land'
ownership_class_2011 = ownership_class_2011.set_index('class_type')
ownership_class_2011 = ownership_class_2011.transpose()[['us_forest_service', 'other_federal', 'state_and_local_gov', 'nonindustrial_private', 'total_land']].reset_index(drop=True)
ownership_class_2011['year'] = '2011'

######

# 2010
ownership_class_2010 = dict_trees2010.get('Tab 2')
ownership_class_2010.columns = ['class_type', 'all_forest_land', 'total_unreserved', 'timberland', 'unproductive', 'total_reserved', 'productive', 'unproductive_reserved']
ownership_class_2010 = ownership_class_2010.head(21)
ownership_class_2010 = ownership_class_2010.tail(18)
ownership_class_2010 = ownership_class_2010.reset_index(drop=True)
ownership_class_2010 = ownership_class_2010[['class_type', 'all_forest_land']]

ownership_class_2010.at[3, 'class_type']='us_forest_service'
ownership_class_2010.at[9, 'class_type']='other_federal'
ownership_class_2010.at[13, 'class_type']='state_and_local_gov'
ownership_class_2010.at[16, 'class_type']='nonindustrial_private'
ownership_class_2010.at[17, 'class_type']='total_land'
ownership_class_2010 = ownership_class_2010.set_index('class_type')
ownership_class_2010 = ownership_class_2010.transpose()[['us_forest_service', 'other_federal', 'state_and_local_gov', 'nonindustrial_private', 'total_land']].reset_index(drop=True)
ownership_class_2010['year'] = '2010'

######

# 2009
ownership_class_2009 = dict_trees2009.get('Tab 2')
ownership_class_2009.columns = ['class_type', 'all_forest_land', 'total_unreserved', 'timberland', 'unproductive', 'total_reserved', 'productive', 'unproductive_reserved']
ownership_class_2009 = ownership_class_2009.head(21)
ownership_class_2009 = ownership_class_2009.tail(18)
ownership_class_2009 = ownership_class_2009.reset_index(drop=True)
ownership_class_2009 = ownership_class_2009[['class_type', 'all_forest_land']]

ownership_class_2009.at[3, 'class_type']='us_forest_service'
ownership_class_2009.at[9, 'class_type']='other_federal'
ownership_class_2009.at[13, 'class_type']='state_and_local_gov'
ownership_class_2009.at[16, 'class_type']='nonindustrial_private'
ownership_class_2009.at[17, 'class_type']='total_land'
ownership_class_2009 = ownership_class_2009.set_index('class_type')
ownership_class_2009 = ownership_class_2009.transpose()[['us_forest_service', 'other_federal', 'state_and_local_gov', 'nonindustrial_private', 'total_land']].reset_index(drop=True)
ownership_class_2009['year'] = '2009'

######

# 2008
ownership_class_2008 = dict_trees2008.get('Tab 2')
ownership_class_2008.columns = ['class_type', 'all_forest_land', 'total_unreserved', 'timberland', 'unproductive', 'total_reserved', 'productive', 'unproductive_reserved']
ownership_class_2008 = ownership_class_2008.head(21)
ownership_class_2008 = ownership_class_2008.tail(18)
ownership_class_2008 = ownership_class_2008.reset_index(drop=True)
ownership_class_2008 = ownership_class_2008[['class_type', 'all_forest_land']]

ownership_class_2008.at[3, 'class_type']='us_forest_service'
ownership_class_2008.at[9, 'class_type']='other_federal'
ownership_class_2008.at[13, 'class_type']='state_and_local_gov'
ownership_class_2008.at[16, 'class_type']='nonindustrial_private'
ownership_class_2008.at[17, 'class_type']='total_land'
ownership_class_2008 = ownership_class_2008.set_index('class_type')
ownership_class_2008 = ownership_class_2008.transpose()[['us_forest_service', 'other_federal', 'state_and_local_gov', 'nonindustrial_private', 'total_land']].reset_index(drop=True)
ownership_class_2008['year'] = '2008'

######

# 2007
ownership_class_2007 = dict_trees2007.get('Tab 2')
ownership_class_2007.columns = ['class_type', 'all_forest_land', 'total_unreserved', 'timberland', 'unproductive', 'total_reserved', 'productive', 'unproductive_reserved']
ownership_class_2007 = ownership_class_2007.head(22)
ownership_class_2007 = ownership_class_2007.tail(19)
ownership_class_2007 = ownership_class_2007.reset_index(drop=True)
ownership_class_2007 = ownership_class_2007[['class_type', 'all_forest_land']]

ownership_class_2007.at[3, 'class_type']='us_forest_service'
ownership_class_2007.at[9, 'class_type']='other_federal'
ownership_class_2007.at[14, 'class_type']='state_and_local_gov'
ownership_class_2007.at[17, 'class_type']='nonindustrial_private'
ownership_class_2007.at[18, 'class_type']='total_land'
ownership_class_2007 = ownership_class_2007.set_index('class_type')
ownership_class_2007 = ownership_class_2007.transpose()[['us_forest_service', 'other_federal', 'state_and_local_gov', 'nonindustrial_private', 'total_land']].reset_index(drop=True)
ownership_class_2007['year'] = '2007'

# combining all tables
ownership_class = pd.concat([ownership_class_2007, ownership_class_2008, ownership_class_2009, ownership_class_2010, ownership_class_2011, ownership_class_2012, ownership_class_2013, ownership_class_2014, ownership_class_2015, ownership_class_2016])
ownership_class = ownership_class.reset_index(drop=True)
ownership_class = ownership_class[['year', 'us_forest_service', 'other_federal', 'state_and_local_gov', 'forest_industry', 'nonindustrial_private', 'total_land']]

# changing data type to numeric
ownership_class.us_forest_service = pd.to_numeric(ownership_class.us_forest_service)
ownership_class.other_federal = pd.to_numeric(ownership_class.other_federal)
ownership_class.state_and_local_gov = pd.to_numeric(ownership_class.state_and_local_gov)
ownership_class.forest_industry = pd.to_numeric(ownership_class.forest_industry)
ownership_class.nonindustrial_private = pd.to_numeric(ownership_class.nonindustrial_private)
ownership_class.total_land = pd.to_numeric(ownership_class.total_land)

ownership_class

class_type,year,us_forest_service,other_federal,state_and_local_gov,forest_industry,nonindustrial_private,total_land
0,2007,717.1,663.5,792.4,NaN,11817.3,13990.4
1,2008,722.1,659.4,809.4,NaN,11788.3,13979.1
2,2009,715.9,659.6,823.4,NaN,11805.1,14004.1
3,2010,724.6,661.5,840.7,NaN,11730.0,13956.7
4,2011,723.8,675.8,869.2,NaN,11672.4,13941.3
5,2012,717.3,684.9,854.1,NaN,11664.1,13920.5
6,2013,723.3,683.1,914.4,NaN,11646.3,13967.1
7,2014,719.9,673.2,902.0,NaN,11585.3,13880.3
8,2015,713.7,671.8,920.2,NaN,11593.9,13899.5
9,2016,712.8,671.6,935.3,120.4,11479.4,13919.5

In [45]:
## Table 8
## Land by Disturbance Type, in thousand acres

# 2016
disturbed_2016 = dict_trees2016.get('Tab 8')
disturbed_2016.columns = ['drop', 'insects', 'disease', 'weather', 'fire', 'domestic_animals', 'wild_animals', 'humans', 'other_natural']
disturbed_2016 = disturbed_2016[['insects', 'disease', 'weather', 'fire', 'domestic_animals', 'wild_animals', 'humans', 'other_natural']]
disturbed_2016 = disturbed_2016.head(20)
disturbed_2016 = disturbed_2016.tail(1)
disturbed_2016['year'] = '2016'

######

# 2015
disturbed_2015 = dict_trees2015.get('Tab 8')
disturbed_2015.columns = ['drop', 'insects', 'disease', 'weather', 'fire', 'domestic_animals', 'wild_animals', 'humans', 'other_natural']
disturbed_2015 = disturbed_2015[['insects', 'disease', 'weather', 'fire', 'domestic_animals', 'wild_animals', 'humans', 'other_natural']]
disturbed_2015 = disturbed_2015.head(20)
disturbed_2015 = disturbed_2015.tail(1)
disturbed_2015['year'] = '2015'

######

# 2014
disturbed_2014 = dict_trees2014.get('Tab 8')
disturbed_2014.columns = ['drop', 'insects', 'disease', 'weather', 'fire', 'domestic_animals', 'wild_animals', 'humans', 'other_natural']
disturbed_2014 = disturbed_2014[['insects', 'disease', 'weather', 'fire', 'domestic_animals', 'wild_animals', 'humans', 'other_natural']]
disturbed_2014 = disturbed_2014.head(20)
disturbed_2014 = disturbed_2014.tail(1)
disturbed_2014['year'] = '2014'

######

# 2013
disturbed_2013 = dict_trees2013.get('Tab 8')
disturbed_2013.columns = ['drop', 'insects', 'disease', 'weather', 'fire', 'domestic_animals', 'wild_animals', 'humans', 'other_natural']
disturbed_2013 = disturbed_2013[['insects', 'disease', 'weather', 'fire', 'domestic_animals', 'wild_animals', 'humans', 'other_natural']]
disturbed_2013 = disturbed_2013.head(19)
disturbed_2013 = disturbed_2013.tail(1)
disturbed_2013['year'] = '2013'

######

# 2012
disturbed_2012 = dict_trees2012.get('Tab 8')
disturbed_2012.columns = ['drop', 'insects', 'disease', 'weather', 'fire', 'domestic_animals', 'wild_animals', 'humans', 'other_natural']
disturbed_2012 = disturbed_2012[['insects', 'disease', 'weather', 'fire', 'domestic_animals', 'wild_animals', 'humans', 'other_natural']]
disturbed_2012 = disturbed_2012.head(20)
disturbed_2012 = disturbed_2012.tail(1)
disturbed_2012['year'] = '2012'

######

# 2011
disturbed_2011 = dict_trees2011.get('Tab 8')
disturbed_2011.columns = ['drop', 'insects', 'disease', 'weather', 'fire', 'domestic_animals', 'wild_animals', 'humans', 'other_natural']
disturbed_2011 = disturbed_2011[['insects', 'disease', 'weather', 'fire', 'domestic_animals', 'wild_animals', 'humans', 'other_natural']]
disturbed_2011 = disturbed_2011.head(20)
disturbed_2011 = disturbed_2011.tail(1)
disturbed_2011['year'] = '2011'

######

# 2010
disturbed_2010 = dict_trees2010.get('Tab 8')
disturbed_2010.columns = ['drop', 'insects', 'disease', 'weather', 'fire', 'domestic_animals', 'wild_animals', 'humans', 'other_natural']
disturbed_2010 = disturbed_2010[['insects', 'disease', 'weather', 'fire', 'domestic_animals', 'wild_animals', 'humans', 'other_natural']]
disturbed_2010 = disturbed_2010.head(20)
disturbed_2010 = disturbed_2010.tail(1)
disturbed_2010['year'] = '2010'

######

# 2009
disturbed_2009 = dict_trees2009.get('Tab 8')
disturbed_2009.columns = ['drop', 'insects', 'disease', 'weather', 'fire', 'domestic_animals', 'wild_animals', 'humans', 'other_natural']
disturbed_2009 = disturbed_2009[['insects', 'disease', 'weather', 'fire', 'domestic_animals', 'wild_animals', 'humans', 'other_natural']]
disturbed_2009 = disturbed_2009.head(20)
disturbed_2009 = disturbed_2009.tail(1)
disturbed_2009['year'] = '2009'

######

# 2008
disturbed_2008 = dict_trees2008.get('Tab 8')
disturbed_2008.columns = ['drop', 'insects', 'disease', 'weather', 'fire', 'domestic_animals', 'wild_animals', 'humans', 'other_natural']
disturbed_2008 = disturbed_2008[['insects', 'disease', 'weather', 'fire', 'domestic_animals', 'wild_animals', 'humans', 'other_natural']]
disturbed_2008 = disturbed_2008.head(20)
disturbed_2008 = disturbed_2008.tail(1)
disturbed_2008['year'] = '2008'

######

# 2007
disturbed_2007 = dict_trees2007.get('Tab 8')
disturbed_2007.columns = ['drop', 'insects', 'disease', 'weather', 'fire', 'domestic_animals', 'wild_animals', 'humans', 'other_natural']
disturbed_2007 = disturbed_2007[['insects', 'disease', 'weather', 'fire', 'domestic_animals', 'wild_animals', 'humans', 'other_natural']]
disturbed_2007 = disturbed_2007.head(19)
disturbed_2007 = disturbed_2007.tail(1)
disturbed_2007['year'] = '2007'

# combining all tables
disturbed = pd.concat([disturbed_2007, disturbed_2008, disturbed_2009, disturbed_2010, disturbed_2011, disturbed_2012, disturbed_2013, disturbed_2014, disturbed_2015, disturbed_2016])
disturbed = disturbed.reset_index(drop=True)
disturbed = disturbed[['year', 'insects', 'disease', 'weather', 'fire', 'domestic_animals', 'wild_animals', 'humans', 'other_natural']]

# changing data type to numeric
disturbed.insects = pd.to_numeric(disturbed.insects)
disturbed.disease = pd.to_numeric(disturbed.disease)
disturbed.weather = pd.to_numeric(disturbed.weather)
disturbed.fire = pd.to_numeric(disturbed.fire)
disturbed.domestic_animals = pd.to_numeric(disturbed.domestic_animals)
disturbed.wild_animals = pd.to_numeric(disturbed.wild_animals)
disturbed.humans = pd.to_numeric(disturbed.humans)
disturbed.other_natural = pd.to_numeric(disturbed.other_natural)

# adding total disturbed column
disturbed['total_disturbed'] = disturbed.insects+disturbed.disease+disturbed.weather+disturbed.fire+disturbed.domestic_animals+disturbed.wild_animals+disturbed.humans+disturbed.other_natural

disturbed

,year,insects,disease,weather,fire,domestic_animals,wild_animals,humans,other_natural,total_disturbed
0,2007,90.4,6.2,38.6,28.3,30.2,4.3,34.5,3.9,236.4
1,2008,62.9,4.5,30.4,27.5,38.7,3.4,31.8,5.3,204.5
2,2009,36.7,3.6,28.5,27.0,50.4,2.1,30.4,4.5,183.2
3,2010,13.6,3.6,27.3,27.7,63.2,2.0,22.5,4.6,164.5
4,2011,8.7,2.5,28.0,24.1,68.9,2.0,16.1,4.9,155.2
5,2012,14.8,2.6,23.6,21.4,67.9,1.1,14.8,3.5,149.7
6,2013,14.9,3.4,23.4,20.3,63.4,1.1,13.6,1.5,141.6
7,2014,27.6,4.9,26.3,26.3,59.4,2.2,12.2,1.4,160.3
8,2015,26.8,4.7,29.2,31.5,57.4,3.0,12.5,1.4,166.5
9,2016,24.1,4.4,28.5,25.8,55.2,5.1,11.7,4.0,158.8

In [83]:
## Table 12
## Land by Volume Live Trees, in million cubic feet

# 2016
volume_2016 = dict_trees2016.get('Tab 12')
volume_2016.columns = ['class_type', 'all_forest_land', 'total_unreserved', 'timberland', 'unproductive', 'total_reserved', 'productive', 'unproductive_reserved']
volume_2016 = volume_2016.head(28)
volume_2016 = volume_2016.tail(25)
volume_2016 = volume_2016.reset_index(drop=True)
volume_2016 = volume_2016[['class_type', 'all_forest_land']]

volume_2016.at[3, 'class_type']='us_forest_service'
volume_2016.at[9, 'class_type']='other_federal'
volume_2016.at[13, 'class_type']='state_and_local_gov'
volume_2016.at[17, 'class_type']='forest_industry'
volume_2016.at[23, 'class_type']='nonindustrial_private'
volume_2016.at[24, 'class_type']='total_volume'
volume_2016 = volume_2016.set_index('class_type')
volume_2016 = volume_2016.transpose()[['us_forest_service', 'other_federal', 'state_and_local_gov', 'forest_industry', 'nonindustrial_private', 'total_volume']].reset_index(drop=True)
volume_2016['year'] = '2016'

######

# 2015
volume_2015 = dict_trees2015.get('Tab 12')
volume_2015.columns = ['class_type', 'all_forest_land', 'total_unreserved', 'timberland', 'unproductive', 'total_reserved', 'productive', 'unproductive_reserved']
volume_2015 = volume_2015.head(21)
volume_2015 = volume_2015.tail(18)
volume_2015 = volume_2015.reset_index(drop=True)
volume_2015 = volume_2015[['class_type', 'all_forest_land']]

volume_2015.at[3, 'class_type']='us_forest_service'
volume_2015.at[9, 'class_type']='other_federal'
volume_2015.at[13, 'class_type']='state_and_local_gov'
volume_2015.at[16, 'class_type']='nonindustrial_private'
volume_2015.at[17, 'class_type']='total_volume'
volume_2015 = volume_2015.set_index('class_type')
volume_2015 = volume_2015.transpose()[['us_forest_service', 'other_federal', 'state_and_local_gov', 'nonindustrial_private', 'total_volume']].reset_index(drop=True)
volume_2015['year'] = '2015'

######

# 2014
volume_2014 = dict_trees2014.get('Tab 12')
volume_2014.columns = ['class_type', 'all_forest_land', 'total_unreserved', 'timberland', 'unproductive', 'total_reserved', 'productive', 'unproductive_reserved']
volume_2014 = volume_2014.head(21)
volume_2014 = volume_2014.tail(18)
volume_2014 = volume_2014.reset_index(drop=True)
volume_2014 = volume_2014[['class_type', 'all_forest_land']]

volume_2014.at[3, 'class_type']='us_forest_service'
volume_2014.at[9, 'class_type']='other_federal'
volume_2014.at[13, 'class_type']='state_and_local_gov'
volume_2014.at[16, 'class_type']='nonindustrial_private'
volume_2014.at[17, 'class_type']='total_volume'
volume_2014 = volume_2014.set_index('class_type')
volume_2014 = volume_2014.transpose()[['us_forest_service', 'other_federal', 'state_and_local_gov', 'nonindustrial_private', 'total_volume']].reset_index(drop=True)
volume_2014['year'] = '2014'

######

# 2013
volume_2013 = dict_trees2013.get('Tab 12')
volume_2013.columns = ['class_type', 'all_forest_land', 'total_unreserved', 'timberland', 'unproductive', 'total_reserved', 'productive', 'unproductive_reserved']
volume_2013 = volume_2013.head(21)
volume_2013 = volume_2013.tail(18)
volume_2013 = volume_2013.reset_index(drop=True)
volume_2013 = volume_2013[['class_type', 'all_forest_land']]

volume_2013.at[3, 'class_type']='us_forest_service'
volume_2013.at[9, 'class_type']='other_federal'
volume_2013.at[13, 'class_type']='state_and_local_gov'
volume_2013.at[16, 'class_type']='nonindustrial_private'
volume_2013.at[17, 'class_type']='total_volume'
volume_2013 = volume_2013.set_index('class_type')
volume_2013 = volume_2013.transpose()[['us_forest_service', 'other_federal', 'state_and_local_gov', 'nonindustrial_private', 'total_volume']].reset_index(drop=True)
volume_2013['year'] = '2013'

######

# 2012
volume_2012 = dict_trees2012.get('Tab 12')
volume_2012.columns = ['class_type', 'all_forest_land', 'total_unreserved', 'timberland', 'unproductive', 'total_reserved', 'productive', 'unproductive_reserved']
volume_2012 = volume_2012.head(21)
volume_2012 = volume_2012.tail(18)
volume_2012 = volume_2012.reset_index(drop=True)
volume_2012 = volume_2012[['class_type', 'all_forest_land']]

volume_2012.at[3, 'class_type']='us_forest_service'
volume_2012.at[9, 'class_type']='other_federal'
volume_2012.at[13, 'class_type']='state_and_local_gov'
volume_2012.at[16, 'class_type']='nonindustrial_private'
volume_2012.at[17, 'class_type']='total_volume'
volume_2012 = volume_2012.set_index('class_type')
volume_2012 = volume_2012.transpose()[['us_forest_service', 'other_federal', 'state_and_local_gov', 'nonindustrial_private', 'total_volume']].reset_index(drop=True)
volume_2012['year'] = '2012'

######

# 2011
volume_2011 = dict_trees2011.get('Tab 12')
volume_2011.columns = ['class_type', 'all_forest_land', 'total_unreserved', 'timberland', 'unproductive', 'total_reserved', 'productive', 'unproductive_reserved']
volume_2011 = volume_2011.head(21)
volume_2011 = volume_2011.tail(18)
volume_2011 = volume_2011.reset_index(drop=True)
volume_2011 = volume_2011[['class_type', 'all_forest_land']]

volume_2011.at[3, 'class_type']='us_forest_service'
volume_2011.at[9, 'class_type']='other_federal'
volume_2011.at[13, 'class_type']='state_and_local_gov'
volume_2011.at[16, 'class_type']='nonindustrial_private'
volume_2011.at[17, 'class_type']='total_volume'
volume_2011 = volume_2011.set_index('class_type')
volume_2011 = volume_2011.transpose()[['us_forest_service', 'other_federal', 'state_and_local_gov', 'nonindustrial_private', 'total_volume']].reset_index(drop=True)
volume_2011['year'] = '2011'

######

# 2010
volume_2010 = dict_trees2010.get('Tab 12')
volume_2010.columns = ['class_type', 'all_forest_land', 'total_unreserved', 'timberland', 'unproductive', 'total_reserved', 'productive', 'unproductive_reserved']
volume_2010 = volume_2010.head(21)
volume_2010 = volume_2010.tail(18)
volume_2010 = volume_2010.reset_index(drop=True)
volume_2010 = volume_2010[['class_type', 'all_forest_land']]

volume_2010.at[3, 'class_type']='us_forest_service'
volume_2010.at[9, 'class_type']='other_federal'
volume_2010.at[13, 'class_type']='state_and_local_gov'
volume_2010.at[16, 'class_type']='nonindustrial_private'
volume_2010.at[17, 'class_type']='total_volume'
volume_2010 = volume_2010.set_index('class_type')
volume_2010 = volume_2010.transpose()[['us_forest_service', 'other_federal', 'state_and_local_gov', 'nonindustrial_private', 'total_volume']].reset_index(drop=True)
volume_2010['year'] = '2010'

######

# 2009
volume_2009 = dict_trees2009.get('Tab 12')
volume_2009.columns = ['class_type', 'all_forest_land', 'total_unreserved', 'timberland', 'unproductive', 'total_reserved', 'productive', 'unproductive_reserved']
volume_2009 = volume_2009.head(21)
volume_2009 = volume_2009.tail(18)
volume_2009 = volume_2009.reset_index(drop=True)
volume_2009 = volume_2009[['class_type', 'all_forest_land']]

volume_2009.at[3, 'class_type']='us_forest_service'
volume_2009.at[9, 'class_type']='other_federal'
volume_2009.at[13, 'class_type']='state_and_local_gov'
volume_2009.at[16, 'class_type']='nonindustrial_private'
volume_2009.at[17, 'class_type']='total_volume'
volume_2009 = volume_2009.set_index('class_type')
volume_2009 = volume_2009.transpose()[['us_forest_service', 'other_federal', 'state_and_local_gov', 'nonindustrial_private', 'total_volume']].reset_index(drop=True)
volume_2009['year'] = '2009'

######

# 2008
volume_2008 = dict_trees2008.get('Tab 12')
volume_2008.columns = ['class_type', 'all_forest_land', 'total_unreserved', 'timberland', 'unproductive', 'total_reserved', 'productive', 'unproductive_reserved']
volume_2008 = volume_2008.head(21)
volume_2008 = volume_2008.tail(18)
volume_2008 = volume_2008.reset_index(drop=True)
volume_2008 = volume_2008[['class_type', 'all_forest_land']]

volume_2008.at[3, 'class_type']='us_forest_service'
volume_2008.at[9, 'class_type']='other_federal'
volume_2008.at[13, 'class_type']='state_and_local_gov'
volume_2008.at[16, 'class_type']='nonindustrial_private'
volume_2008.at[17, 'class_type']='total_volume'
volume_2008 = volume_2008.set_index('class_type')
volume_2008 = volume_2008.transpose()[['us_forest_service', 'other_federal', 'state_and_local_gov', 'nonindustrial_private', 'total_volume']].reset_index(drop=True)
volume_2008['year'] = '2008'

######

# 2007
volume_2007 = dict_trees2007.get('Tab 12')
volume_2007.columns = ['class_type', 'all_forest_land', 'total_unreserved', 'timberland', 'unproductive', 'total_reserved', 'productive', 'unproductive_reserved']
volume_2007 = volume_2007.head(21)
volume_2007 = volume_2007.tail(18)
volume_2007 = volume_2007.reset_index(drop=True)
volume_2007 = volume_2007[['class_type', 'all_forest_land']]

volume_2007.at[3, 'class_type']='us_forest_service'
volume_2007.at[9, 'class_type']='other_federal'
volume_2007.at[13, 'class_type']='state_and_local_gov'
volume_2007.at[16, 'class_type']='nonindustrial_private'
volume_2007.at[17, 'class_type']='total_volume'
volume_2007 = volume_2007.set_index('class_type')
volume_2007 = volume_2007.transpose()[['us_forest_service', 'other_federal', 'state_and_local_gov', 'nonindustrial_private', 'total_volume']].reset_index(drop=True)
volume_2007['year'] = '2007'

# combining all tables
volume = pd.concat([volume_2007, volume_2008, volume_2009, volume_2010, volume_2011, volume_2012, volume_2013, volume_2014, volume_2015, volume_2016])
volume = volume.reset_index(drop=True)
volume = volume[['year', 'us_forest_service', 'other_federal', 'state_and_local_gov', 'forest_industry', 'nonindustrial_private', 'total_volume']]

# changing data type to numeric
volume.us_forest_service = pd.to_numeric(volume.us_forest_service)
volume.other_federal = pd.to_numeric(volume.other_federal)
volume.state_and_local_gov = pd.to_numeric(volume.state_and_local_gov)
volume.forest_industry = pd.to_numeric(volume.forest_industry)
volume.nonindustrial_private = pd.to_numeric(volume.nonindustrial_private)
volume.total_volume = pd.to_numeric(volume.total_volume)

volume

class_type,year,us_forest_service,other_federal,state_and_local_gov,forest_industry,nonindustrial_private,total_volume
0,2007,2048.1,1754.2,0.2,NaN,22799.5,22799.5
1,2008,2085.7,1795.7,2057.0,NaN,22905.8,28844.3
2,2009,2087.4,1830.6,2154.6,NaN,23113.0,29185.6
3,2010,2147.9,1860.2,2218.4,NaN,23165.4,29391.9
4,2011,2127.1,1903.0,2318.5,NaN,23114.3,29463.0
5,2012,2100.6,1910.3,2326.6,NaN,23264.4,29601.9
6,2013,2163.7,1916.1,2475.3,NaN,23528.3,30083.4
7,2014,2136.5,1921.3,2460.3,NaN,23893.3,30411.3
8,2015,2134.7,1952.0,2542.0,NaN,24449.1,31077.8
9,2016,2163.6,1953.1,2629.8,278.6,24597.6,31622.7

In [115]:
## Table 24
## Land by Tree Growth, in million cubic feet

# 2016
growth_2016 = dict_trees2016.get('Tab 24')
growth_2016.columns = ['class_type', 'timberland', 'forest_land']
growth_2016 = growth_2016.head(27)
growth_2016 = growth_2016.tail(25)
growth_2016 = growth_2016.reset_index(drop=True)

growth_2016.at[3, 'class_type']='us_forest_service'
growth_2016.at[9, 'class_type']='other_federal'
growth_2016.at[13, 'class_type']='state_and_local_gov'
growth_2016.at[17, 'class_type']='forest_industry'
growth_2016.at[23, 'class_type']='nonindustrial_private'
growth_2016.at[24, 'class_type']='total_land'
growth_2016 = growth_2016.set_index('class_type')
growth_2016 = growth_2016.transpose()[['us_forest_service', 'other_federal', 'state_and_local_gov', 'forest_industry', 'nonindustrial_private', 'total_land']].reset_index(drop=True)
growth_2016['land_type'] = ['timberland', 'forest land']
growth_2016['year'] = '2016'

growth_2016

class_type,us_forest_service,other_federal,state_and_local_gov,forest_industry,nonindustrial_private,total_land,land_type,year
0,20.5,14.4,48.6,11.1,693.7,788.4,timberland,2016
1,19.8,18.4,56.7,11.1,693.6,799.7,forest land,2016